---
import { getCollection } from "astro:content";
import SearchCollection from "@components/SearchCollection";
import { SDK } from "@consts";
import BottomLayout from "@layouts/BottomLayout.astro";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";

const allSdkPages = await getCollection("sdk");
const sdkPages = allSdkPages
  .filter((page) => !page.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const tags = [...new Set(sdkPages.flatMap((page) => page.data.tags))].sort(
  (a, b) => a.localeCompare(b),
);

const estimated_initial_size =
  28 + sdkPages.length * 158 + (sdkPages.length - 1) * 12;
---

<PageLayout title={SDK.TITLE} description={SDK.DESCRIPTION}>
  <TopLayout>
    <div class="animate">
      <h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
        {SDK.TITLE}
      </h1>
      <div class="mt-1">
        {SDK.DESCRIPTION}
      </div>
    </div>
  </TopLayout>
  <BottomLayout>
    <div
      id="search-collection-wrapper"
      class="animate"
      style={{ minHeight: `${estimated_initial_size}px` }}
    >
      <SearchCollection
        client:load
        entry_name={"sdk"}
        tags={tags}
        data={sdkPages}
      />
    </div>
  </BottomLayout>
</PageLayout>
